//* Black/gray
$black100: #E2E8F0;
$black200: #CBD5E0;
$black300: #A0AEC0;
$black400: #718096;
$black500: #4A5568;
$black600: #2D3748;
$black700: #1A202C;
$black800: #0d1117;
$black900: #000000;

//* Red
$red100: #FED7D7;
$red200: #FEB2B2;
$red300: #FC8181;
$red400: #F56565;
$red500: #E53E3E;
$red600: #C53030;
$red700: #9B2C2C;
$red800: #822727;
$red900: #63171B;


//* Green
$green100: #C6F6D5;
$green200: #9AE6B4;
$green300: #68D391;
$green400: #48BB78;
$green500: #38A169;
$green600: #2F855A;
$green700: #276749;
$green800: #22543D;
$green900: #1C4532;

//* Blue
$blue100: #BEE3F8;
$blue200: #90CDF4;
$blue300: #63B3ED;
$blue400: #4299E1;
$blue500: #3182CE;
$blue600: #2B6CB0;
$blue700: #2C5282;
$blue800: #2A4365;
$blue900: #1A365D;

//* Purple
$purple100: #E9D8FD;
$purple200: #D6BCFA;
$purple300: #B794F4;
$purple400: #9F7AEA;
$purple500: #805AD5;
$purple600: #6B46C1;
$purple700: #553C9A;
$purple800: #44337A;
$purple900: #322659;

//* Pink
$pink100: #FED7E2;
$pink200: #FBB6CE;
$pink300: #F687B3;
$pink400: #ED64A6;
$pink500: #D53F8C;
$pink600: #B83280;
$pink700: #97266D;
$pink800: #702459;
$pink900: #521B41;
