.main {
    display: flex;
    flex-direction: row;
    width: 100%;

    .main-content {
        flex: 4;
        display: flex;
        flex-direction: column;
        // background: purple;

        .main-content-input-wrapp {
            height: 12vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background: red;

            input {
                height: 50px;
                width: 92%;
                // margin-top: 30px;
                border-radius: 5px;
                background: $black800;
                border: none;
                color: #fff;
                padding: 5px;
                font-size: 18px;
                font-weight: bold;
                padding-left: 15px;
                border: 1px solid $black700;
                
                &:focus {
                    background: $black700;
                    border: 1px solid $black800;
                    outline: none;
                    transition: .4s;
                }
            }
        }
    }

    .main-aside {
        flex: 1;
    }
}

.stockChart-wrapp {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .chart-nav {
        height: 8vh;
        width: 92%;
        margin: 0 auto;

        ul {
            height: 100%;
            width: 100%;
            list-style: none;
            display: flex;

            li {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    height: 55%;
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $black800;
                    border-radius: 25px;
                    cursor: pointer;
                    
                    &:hover {
                        background: $black700;
                        transition: .4s;
                    }

                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .chart-wrapp {
        margin-bottom: 10vh;
        height: 80%;
        width: 100%;
        // background: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}