.sidebar {
    height: 100%;
    width: 400px;
    // background: $black800;
    border-right: 1px solid $black800;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .sidebar-heading-wrapp {
        height: 12%;
        width: 100%;
        // background: red;
        display: flex;
        justify-content: center;
        align-items: center;

        .sidebar-heading {
            font-size: 28px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            color: $green400;
            background: -webkit-linear-gradient(45deg, #4ee28c, #06d683);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .sidebar-list-wrapp {
        height: 76%;

    }

    .sidebar-footer-wrapp {
        height: 12%;
    }
}