@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600;800&display=swap");
p, a, div, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, #logo {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  height: 7vh;
  min-height: 60px;
  background: #1A202C;
  width: 100%;
  -webkit-box-shadow: 3px 1px 3px #000;
          box-shadow: 3px 1px 3px #000;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .logo-wrapp #logo {
  font-size: 24px;
  font-weight: bold;
  color: #48BB78;
}

.sidebar {
  height: 100%;
  width: 300px;
  background: #0d1117;
  border-right: 1px solid #1A202C;
}

.main-aside {
  height: 92vh;
  width: 400px;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-aside .main-aside-cards-headline-wrapp {
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-aside .main-aside-cards-headline-wrapp h1 {
  font-weight: bold;
  font-size: 24px;
  color: #CBD5E0;
}

.main-aside .main-aside-cards-footer-wrapp {
  width: 100%;
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-aside .main-aside-cards-footer-wrapp p {
  font-weight: bold;
  font-size: 20px;
  color: #A0AEC0;
}

.main-aside .main-aside-cards-list {
  height: 80%;
  width: 100%;
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-aside .main-aside-cards-list .main-aside-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 94%;
  background: #0d1117;
  border: 1px solid #4A5568;
  border-radius: 5px;
  min-height: 230px;
}

.main-aside .main-aside-cards-list .main-aside-card:not(:first-child) {
  margin-top: 20px;
}

.main-aside .main-aside-cards-list .main-aside-card div {
  height: 100%;
  width: 100%;
}

.main-aside .main-aside-cards-list .main-aside-card div .main-aside-card-href {
  height: 100%;
  width: 100%;
  display: block;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-aside .main-aside-cards-list .main-aside-card div .main-aside-card-href:hover {
  cursor: pointer;
  opacity: .4;
  -webkit-transition: .4s background;
  transition: .4s background;
  -webkit-transform: scale(98%);
          transform: scale(98%);
  -webkit-transition: .3s transform;
  transition: .3s transform;
}

.main-aside .main-aside-cards-list .main-aside-card div .main-aside-card-href .main-aside-card-title-wrapp {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.main-aside .main-aside-cards-list .main-aside-card div .main-aside-card-href .main-aside-card-title-wrapp .main-aside-card-title {
  font-size: 20px;
  font-weight: bold;
}

.main-aside .main-aside-cards-list .main-aside-card div .main-aside-card-href .main-aside-card-publisher-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-aside .main-aside-cards-list .main-aside-card div .main-aside-card-href .main-aside-card-publisher-wrapp .main-aside-card-publisher {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.main .main-content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.main .main-aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-wrapp {
  height: 93vh;
  width: 100%;
}

.content-wrapp .content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=app.css.map */