@import './config/config';
@import './components/app';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background: $black900;
    color: $black100;
    min-height: 100vh;
    width: 100%;
}

.container {
    width: 94%;
    height: 100%;
    margin: 0 auto;
}